.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-size: 14px;
}

.Task-List {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;

}

input {
  width: 150px;
  height: 30px;
  font-size: 11px;
  padding-left: 10px;
  margin: 5px;

}

 button {
  width: 100px;
  height: 20px;
  margin-top: 10px;
} 

 button:hover {
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
  margin: 20px;
}